#enviar{
    border-radius: 5px;
    background-color: #40E0D0;
    border: solid 2px black;
    width: 100px;
    height: 30px;
}

h1, .IP{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.IP, h1{
    margin-top: 30px;
    color: white;
    font-family: monospace;
}

#json{
    border-style: groove;
    border-color: red;
    border-width: thick;
    margin-top: 35px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #FA8072;
}

h2{
    margin-bottom: 50px;
    color: white;
    font-family: monospace;
}

body{
    background-color: #550000;,
}

#botao{
    text-align: center;
    margin-top: 50px;
}

#info{
    margin-right: 700px;
    margin-bottom: 30px;
}

